@page "/about"
@inject HttpClient _http

<h1 class="text-center">Acerca de nosotros</h1>
<MudNavLink Href="/" Icon="@Icons.Filled.ArrowBack" Style="width: 150px">Regresar</MudNavLink>
<MudGrid Spacing="3" Justify="Justify.Center">
    <MudItem>
        <MudTable Class="thead-dark" Items="@personas" Hover="true" Striped="true">
            <HeaderContent>
                <MudTh>Nombre</MudTh>
                <MudTh>Email</MudTh>
                <MudTh>Matricula</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Nombre">@context.Nombre</MudTd>
                <MudTd DataLabel="Email">@context.Email</MudTd>
                <MudTd DataLabel="Matricula">@context.Matricula</MudTd>
            </RowTemplate>
        </MudTable>
    </MudItem>
    <MudItem>
        <MudPaper>
            <iframe src="https://www.youtube.com/embed/Or7DNhOPZk8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    class Persona {
        public string Nombre { get; set; }
        public string Email { get; set; }
        public string Matricula { get; set; }
    }

    List<Persona> personas = new List<Persona>() {
        new Persona { Nombre = "Lisanny A. Peña G.", Email = "l.andrespg11@gmail.com", Matricula = "2019-7913"},
        new Persona { Nombre = "Roy del Orbe", Email = "roywillinsondelorbemedina@gmail.com", Matricula = "2018-7315" },
        new Persona { Nombre = "Jose Rosario", Email = "20197807@itla.edu.do", Matricula = "2019-7807" },
        new Persona { Nombre = "Eimy Olivo", Email = "20197830@itla.edu.do", Matricula = "2019-7830" },
    };


}
