@page "/cobros"

@inject HttpClient Http


<div class="col-md-6">
    <MudCard>
        <MudCardHeader>

            <CardHeaderContent>
                <MudText Typo="Typo.h5">AQUITO</MudText>
                <MudText>Empleado</MudText>
                <MudText>Fecha</MudText>
            </CardHeaderContent>

            <CardHeaderActions>
                <br />
                <MudText>Cliente nombre.</MudText>
                <MudText>Cedula</MudText>
                <MudText>Email</MudText>
            </CardHeaderActions>
        </MudCardHeader>

        <MudCardContent>
            <hr color="blue" size=100>
            <MudText Typo="Typo.h6">Factura</MudText>
        </MudCardContent>

        <MudTable Items="@reservaciones" Hover="@true" Striped="@true">
            <HeaderContent>
                <MudTh>Descripcion</MudTh>
                <MudTh>Precio </MudTh>
                <MudTh>Cantidad</MudTh>
            </HeaderContent>
            <RowTemplate>
                <MudTd DataLabel="Descripcion">@context.</MudTd>
                <MudTd DataLabel="Precio">@context.</MudTd>
                <MudTd DataLabel="Cantidad">@context.</MudTd>
            </RowTemplate>
            <PagerContent>
                <MudText>Total a pagar = </MudText>
            </PagerContent>
        </MudTable>

    </MudCard>
</div>


@code {

    private List<> reservaciones = new List<>();
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        reservaciones = await Http.GetFromJsonAsync<List<Res>>("api/reservacion");
    }

}
